header {
  background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg) no-repeat center center;
  background-size: cover;
  height: 450px;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  font-family: Helvetica sans-serif;
  color: khaki;
}


.brushes {
font-family: Helvetica;
font-weight: bold;
color: white;
font-size: 32px;
background-color: mediumspringgreen;
}


.frames {
font-family: Helvetica;
font-weight: bold;
color: white;
font-size: 32px;
background-color: lightcoral;
}


.paint {
font-family: Helvetica;
font-weight: bold;
color: white;
font-size: 32px;
background-color: skyblue;
}
